DatosMeteo.nodered
[{"id":"948b8cfc.21666","type":"tab","label":"Datos clima exterior","disabled":false,"info":"Publica un mensaje MQTT con topic\n/torredembarra/reloj/0/funcion/tempExt/estado\n\nEl mensaje es un string con el siguiente formato:\n\nnn.nºC [MM.MºC - mm.mºC]\n\ndonde:\nnn.n temperatura actual\nMM.M temperatura máxima\nmm.m temperatura mínima\n\nSe activará periodicamente según parámetro \nflow.refrTemp minutos"},{"id":"14eb042d.d88e3c","type":"inject","z":"948b8cfc.21666","name":"Activar","topic":"","payload":"","payloadType":"num","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":120,"wires":[["735e13e4.e7072c"]]},{"id":"1318fdec.aad802","type":"mqtt out","z":"948b8cfc.21666","name":"MQTT-mini","topic":"","qos":"0","retain":"true","broker":"7bcabc75.bd8144","x":640,"y":120,"wires":[]},{"id":"b13401a3.348b1","type":"function","z":"948b8cfc.21666","name":"TempExt","func":"msg.topic = flow.get('topic_pre') + 'tempExt/estado';\nmsg.payload = msg.payload['tempc'];\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["1318fdec.aad802"]]},{"id":"6ce3c663.589b78","type":"function","z":"948b8cfc.21666","name":"humedadExt","func":"msg.topic = flow.get('topic_pre') + 'humedadExt/estado';\nmsg.payload = msg.payload['humidity'];\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["1318fdec.aad802"]]},{"id":"51131fa3.3a8bb","type":"function","z":"948b8cfc.21666","name":"presion","func":"msg.topic = flow.get('topic_pre') + 'presion/estado';\nvar temp  =  msg.payload['pressure'];\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["1318fdec.aad802"]]},{"id":"b90d1f0a.42a32","type":"function","z":"948b8cfc.21666","name":"timestamp","func":"msg.topic = flow.get('topic_pre') + 'timestamp/estado';\nmsg.payload = Math.floor(Date.now() / 1000);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["1318fdec.aad802"]]},{"id":"b8ff22a2.09ad3","type":"mqtt in","z":"948b8cfc.21666","name":"Actualizar","topic":"/torredembarra/DatosMeteo/actualizar","qos":"0","broker":"7bcabc75.bd8144","x":90,"y":290,"wires":[["4de2c22e.90af4c"]]},{"id":"704388e3.f327a8","type":"debug","z":"948b8cfc.21666","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":250,"y":530,"wires":[]},{"id":"13fc8bc9.70cc04","type":"function","z":"948b8cfc.21666","name":"Detalle","func":"msg.topic = flow.get('topic_pre') + 'detalle/estado';\nmsg.payload = msg.payload['detail'];\nmsg.payload += ' (' + msg.data['clouds']['all'] + '%)';\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[["1318fdec.aad802"]]},{"id":"a982ae7b.5d63a","type":"function","z":"948b8cfc.21666","name":"Amanecer","func":"msg.topic = flow.get('topic_pre') + 'amanecer/estado';\n\nvar t = msg.payload['sunrise'] + 2*60*60;\nvar min = Math.floor(t % 3600 / 100);\nt = Math.floor(t / 3600);\nvar hora = t % 24;\nmsg.payload = hora + ':' + min;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["1318fdec.aad802"]]},{"id":"6405d3bd.93505c","type":"function","z":"948b8cfc.21666","name":"Anochecer","func":"msg.topic = flow.get('topic_pre') + 'anochecer/estado';\n\nvar t = msg.payload['sunset'] + 2*60*60;\nvar min = Math.floor(t % 3600 / 100);\nt = Math.floor(t / 3600);\nvar hora = t % 24;\nmsg.payload = hora + ':' + min;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["1318fdec.aad802"]]},{"id":"cec37e06.ba06b","type":"function","z":"948b8cfc.21666","name":"VientoVel","func":"msg.topic = flow.get('topic_pre') + 'VientoVel/estado';\nmsg.payload = msg.payload['windspeed'];\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":360,"wires":[["1318fdec.aad802"]]},{"id":"697f2388.0a37ac","type":"function","z":"948b8cfc.21666","name":"VientoDir","func":"msg.topic = flow.get('topic_pre') + 'VientoDir/estado';\nmsg.payload = msg.payload['winddirection'];\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":400,"wires":[["1318fdec.aad802"]]},{"id":"3272852c.6aa44a","type":"function","z":"948b8cfc.21666","name":"Actualizar->0","func":"msg.topic = flow.get('topic_pre') + 'actualizar';\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["1318fdec.aad802"]]},{"id":"4de2c22e.90af4c","type":"switch","z":"948b8cfc.21666","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":220,"wires":[["735e13e4.e7072c"]]},{"id":"a18e95bc.9c4c28","type":"function","z":"948b8cfc.21666","name":"FH","func":"msg.FH_ahora = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["b74b74b6.975ef8"]]},{"id":"f9e8adde.60a68","type":"function","z":"948b8cfc.21666","name":"","func":"msg.topic = flow.get('topic_pre') + 'FH';\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":480,"wires":[["1318fdec.aad802"]]},{"id":"ecb5569d.474278","type":"config","z":"948b8cfc.21666","name":"Parámetros","properties":[{"p":"topic_pre","pt":"flow","to":"/torredembarra/DatosMeteo/","tot":"str"}],"active":true,"x":100,"y":70,"wires":[]},{"id":"735e13e4.e7072c","type":"openweathermap","z":"948b8cfc.21666","name":"Clima","wtype":"current","lon":"","lat":"","city":"Torredembarra","country":"Spain","language":"es","x":220,"y":120,"wires":[["b13401a3.348b1","6ce3c663.589b78","51131fa3.3a8bb","b90d1f0a.42a32","704388e3.f327a8","13fc8bc9.70cc04","a982ae7b.5d63a","6405d3bd.93505c","cec37e06.ba06b","697f2388.0a37ac","3272852c.6aa44a","a18e95bc.9c4c28"]]},{"id":"b74b74b6.975ef8","type":"moment","z":"948b8cfc.21666","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Madrid","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"es_ES","output":"payload","outputType":"msg","outTz":"Europe/Madrid","x":480,"y":520,"wires":[["f9e8adde.60a68"]]},{"id":"7bcabc75.bd8144","type":"mqtt-broker","z":"","name":"lasky","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
